{% extends 'netbox_netdisco/components/list.html' %}

{% block title %}
{% if device %}
<div class="row">
    <h6>
        <a class="text-decoration-none" href="{% url 'plugins:netbox_netdisco:device_list' %}">Devices</a> > 
        <a class="text-decoration-none" href="{% url 'plugins:netbox_netdisco:device' ip=device.netdisco.ip %}">{{ device.netdisco.name }}</a>
    </h6>
</div>
{{ device.netdisco.dns }}
{% else %}
IP Addresses
{% endif %}
{% endblock %}

{% block subtitle %}
{% if device %}
<h5>IP Addresses</h5>
{% else %}
<h5>Netdisco</h5>
{% endif %}
{% endblock %}

{% block search %}
TO BE IMPLEMENTED
{% endblock %}

