{% extends 'base/layout.html' %}

{% block title %}
<div class="row">
    <h6>
        <a class="text-decoration-none" href="{% url 'plugins:netbox_netdisco:device_list' %}">Devices</a> > 
        <a class="text-decoration-none" href="{% url 'plugins:netbox_netdisco:device' ip=device.netdisco.ip %}">{{ device.netdisco.name }}</a>
    </h6>
</div>
{{ device.netdisco.dns }}
{% endblock %}

{% block subtitle %}
<h5>Netdisco</h5>
{% endblock %}

{% block tabs %}
<ul class="nav nav-tabs px-3">
    <li role="presentation" class="nav-item">
        <a class="nav-link active" href="{% url 'plugins:netbox_netdisco:device' ip=device.netdisco.ip %}">
            Device
        </a>
    </li>
    <li role="presentation" class="nav-item">
        <a class="nav-link" href="{% url 'plugins:netbox_netdisco:device_port_list' ip=device.netdisco.ip %}">
            Ports
        </a>
    </li>
    <li role="presentation" class="nav-item">
        <a class="nav-link" href="{% url 'plugins:netbox_netdisco:device_address_list' ip=device.netdisco.ip %}">            
            IP addresses
        </a>
    </li>
    <li role="presentation" class="nav-item">
        <a class="nav-link" href="{% url 'plugins:netbox_netdisco:device_vlan_list' ip=device.netdisco.ip %}">
            VLANs
        </a>
    </li>
</ul>
{% with model=device model_name="Device" %}
{% include 'netbox_netdisco/components/model.html' %}
{% endwith %}
{% endblock %}
