{% extends 'base/layout.html' %}


{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Device details</strong>
            </div>
            <div class="row">
                <button>Show in Netdisco</button>
                <button>Show in Netbox</button>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>System Name</td>
                    <td>
                        {{ device.netdisco.name }}
                        {% if device.is_consistent %}                                                
                            <span class="row">NetBox device name: {{ device.netbox.name }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>
                        {{ device.netdisco.name }}
                        {% if device.is_consistent %}                                                
                            <span class="row">NetBox device name: {{ device.netbox.name }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Local BGP AS</td>
                    <td>{{ bgppeering.local_as }}</td>
                </tr>
                <tr>
                    <td>Local peering IP address</td>
                    <td>
                        <a href="{% url 'ipam:ipaddress' pk=bgppeering.local_ip.pk %}">{{ bgppeering.local_ip }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Remote BGP AS</td>
                    <td>{{ bgppeering.remote_as }}</td>
                </tr>
                <tr>
                    <td>Remote peering IP address</td>
                    <td>{{ bgppeering.remote_ip }}</td>
                </tr>
                <tr>
                    <td>Peer name</td>
                    <td>{{ bgppeering.peer_name|placeholder }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ bgppeering.description|placeholder }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
