{% extends 'base/layout.html' %}

{% block title %}
<div class="row">
    <h6>
        <a class="text-decoration-none" href="{% url 'plugins:netbox_netdisco:vlan_list' %}">VLANs</a> >
        <a class="text-decoration-none" href="{% url 'plugins:netbox_netdisco:vlan' ip=vlan.netdisco.ip id=vlan.netdisco.vlan %}">ID {{ vlan.netdisco.vlan }}</a>
    </h6>
</div>
VLAN {{ vlan.netdisco.vlan }}
{% endblock %}

{% block subtitle %}
<h5>Netdisco</h5>
{% endblock %}

{% block tabs %}
<ul class="nav nav-tabs px-3">
    <li role="presentation" class="nav-item">
        <a class="nav-link active" href="{% url 'plugins:netbox_netdisco:vlan' ip=vlan.netdisco.ip id=vlan.netdisco.vlan %}">
            VLAN
        </a>
    </li>    
</ul>
{% with model=vlan model_name="VLAN" %}
{% include 'netbox_netdisco/components/model.html' %}
{% endwith %}
{% endblock %}
