{% extends 'netbox_netdisco/components/entry.html' %}

{% block title %}
<div class="row">
    <h6>
        <a class="text-decoration-none" href="{% url 'plugins:netbox_netdisco:vlan_list' %}">VLANs</a> >
        <a class="text-decoration-none" href="{% url 'plugins:netbox_netdisco:vlan' id=vlan.netdisco.vlan ip=vlan.netdisco.ip %}">ID {{ vlan.netdisco.vlan }}</a>
    </h6>
</div>
VLAN {{ vlan.netdisco.vlan }}
{% endblock %}

{% block subtitle %}
<h5>Netdisco</h5>
{% endblock %}

{% block extra_controls %}
{% if vlan.in_netbox %}
    <a class="btn btn-sm btn-warning" target="_blank" href="{% url 'ipam:vlan' pk=vlan.netbox.pk %}" role="button">Show in Netbox</a>
{% endif %}
{% endblock %}

{% block tabs %}
<ul class="nav nav-tabs px-3">
    <li role="presentation" class="nav-item">
        <a class="nav-link active" href="{% url 'plugins:netbox_netdisco:vlan' id=vlan.netdisco.vlan ip=vlan.netdisco.ip %}">
            VLAN
        </a>
    </li>    
</ul>
{% with model=vlan model_name="VLAN" %}
{% include 'netbox_netdisco/components/model.html' %}
{% endwith %}
{% endblock %}
